body, html{
	margin:0px;
	padding: 0px;
}
body *{
	box-sizing: border-box;
	font-family:"Poppins" , sans-serif;
}
.main__diabet{
	background-color:#3FB4B0;
}
.outer__diabet{
	min-height:630px;
	display: flex;
	align-items:center;
	justify-content:center;
	max-width:1250px;
	margin-left:auto;
	margin-right:auto;
	padding-left:30px;
	padding-right:30px;
}
.outer__diabet .text__info{
	margin-right:150px;
}
.image__diabet{
	position: relative;
	top:120px;
}
.body__image{
	position: relative;
	z-index: 2;
}
.text__info>p{
	font-family:"Pacifico" , sans-serif;
	color:#134B49;
	text-align:center;	
	font-size:45px;
	margin:0px;
	line-height:45px;
	font-weight:300;
}
.text__info>h1{
	text-align:center;
	font-size:85px;
	color:#fff;
	font-weight:bold;
	margin:20px 0px;
	line-height: 85px;
}
.text__info .desc{
	text-align:center;
	margin-top:50px;
}
.text__info .desc p{
	margin:0px;
	color:#FFFFFF;
	font-size:21px;
	line-height:31px;
	font-weight:400;
	text-align:center;
}	
.outer__body{
	max-width:860px;
	margin-left:auto;
	margin-right:auto;
	padding-top:60px;
	margin-bottom:-50px;
	display: flex;
	align-items:flex-start;
	justify-content: flex-start;
}
.outer__body .body__text{
	margin-left:25px;
	padding-top:40px;
}
.outer__body .body__text>h6{
	text-align:center;
	color:#3FB4B0;
	font-size:35px;
	font-weight:800;
	line-height:42px;
	margin:0px;
	margin-bottom:15px;
}
.body__text .body__arrow{
	padding-left:15px;
}
.circulatory__block{
	background-color:#E11948;
	padding:20px 0px;
	position: relative;
}
.circulatory__block>img{
	position: absolute;
	bottom:0px;
	left:0px;
	width:100%;
}
.outer__circulatory{
	max-width:1400px;
	margin-left:auto;
	margin-right:auto;
	padding-left:150px;
	padding-right:90px;
}
.top__circulatory{
	display: flex;
	align-items:flex-start;
	justify-content: space-between;
	margin-bottom:65px;
}
.top__circulatory .txt__circulatory{
	padding-top:100px;
	margin-right:15px;
}
.top__circulatory .txt__circulatory>p{
	max-width:510px;
}
.top__circulatory .txt__circulatory>h6{
	margin:0px;
	color:#fff;
	font-size:45px;
	font-family:"Pacifico" , sans-serif;
	line-height:45px;
	font-weight:300;
}
.top__circulatory .txt__circulatory>h2{
	color:#fff;
	text-transform: uppercase;
	margin-top:15px;
	margin-bottom:10px;
	font-size:54px;
	font-weight:800;
}
.top__circulatory .txt__circulatory>p{
	margin-top:0px;
	font-size:21px;
	color:#fff;
	font-weight:400;
	line-height:31px;
	margin-bottom:20px;
}
.top__circulatory .txt__circulatory>p:last-child{
	margin-bottom:0px;
}
.top__circulatory .txt__circulatory>p span{
	font-weight:bold;
}
.top__circulatory .txt__circulatory>p.big__txt{
	font-size:23px;
	font-weight:600;
	max-width:530px;
}
.syrup__block{
	position: relative;
	display: flex;
	align-items:flex-end;
	justify-content: space-between;
}
.syrup__block .syrup__image{
	margin-right:225px;
}
.syrup__block .syrup__text{
	padding-bottom:350px;
}
.syrup__block .syrup__text>p{
	margin-top:0px;
	margin-bottom:20px;
	font-size:21px;
	font-weight:400;
	color:#fff;
}
.syrup__block .syrup__text>p.weight__txt{
	font-weight:700;
	font-size:25px;
}
.syrup__block .syrup__text>p:last-child{
	margin-bottom:0px;
}
.why__diabet{
	padding-top:100px;
	padding-bottom:135px;
}
.outer__why--diabet{
	max-width:1400px;
	margin-left:auto;
	margin-right:auto;
	padding-left:125px;
	padding-right:280px;
}
.elem__harmful{
	display: flex;
	align-items:center;
	justify-content: space-between;
	margin-bottom:25px;
}
.elem__harmful:last-child{
	margin-bottom:0px;
}
.elem__harmful.left__harmful>.info__harmful{
	order:1;
}
.elem__harmful.left__harmful>.image__harmful{
	order:2;
}

.elem__harmful.right__harmful>.info__harmful{
	order:2;
}
.elem__harmful.right__harmful>.image__harmful{
	order:1;
}
.elem__harmful.left__harmful .info__harmful{
	max-width:515px;
}
.elem__harmful.right__harmful .info__harmful{
	max-width:560px;
}
.elem__harmful.right__harmful .image__harmful{
	padding-left:130px;
}
.elem__harmful .weight__harmful>p{
	font-size:25px;
	font-weight:600;
	margin:0px;
}
.elem__harmful.long__harmful>.weight__harmful{
	max-width:640px;
}
.info__harmful>p{
	font-size:21px;
	margin:0px;
}
.why__diabet .head__why{
	margin-bottom:15px;
	max-width:855px;
}
.why__diabet .head__why>h6{
    margin: 0px;
    color: #fff;
    font-size: 45px;
    font-family: "Pacifico" , sans-serif;
    line-height: 45px;
    color:#E11948;
    font-weight:300;
}
.why__diabet .head__why>h2{
    color: #E11948;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight:bold;
    margin-bottom: 20px;
    font-size: 82px;
    font-weight: 800;
    line-height:80px;
}
.info__head--why>p{
	font-size:21px;
	font-weight:400;
	margin:0px;
	color:#000000;
	margin-bottom:15px;
}
.info__head--why>p.weight__txt{
	font-size:25px;
	font-weight:700;
}
.inner__harmful , .info__head--why{
	padding-left:10px;
}
.head__symptoms{
	background:url("../img/diabetback.svg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:top left;
	padding:45px 0px;
	padding-top: 65px;
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction:column;
}
.head__symptoms>h6{
	margin: 0px;
    color: #fff;
    font-size: 45px;
    font-family: "Pacifico" , sans-serif;
    line-height: 45px;
    text-align:center;
    margin-bottom:10px;
    font-weight:300;
}
.head__symptoms>h2{
	margin-bottom:0px;
	margin-top:0px;
	font-size:64px;
	line-height:64px;
	color:#fff;
	font-weight:bold;
}
.inner__symptoms{
	max-width:1400px;
	margin-left:auto;
	margin-right:auto;
	padding:50px 80px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap:75px;
	grid-row-gap:40px;
}
.inner__symptoms>.elem__symptom{
	display: flex;
	align-items:flex-start;
}
.inner__symptoms>.elem__symptom>.symptom__image{
	margin-right:40px;
}
.inner__symptoms>.elem__symptom .symptom__text>h6{
	margin:0px;
	color: #3FB4B0;
	font-family: "Pacifico" , sans-serif;
	font-size:30px;
	font-weight:300;
}
.symptom__image{
	min-width:110px;
	display: flex;
	align-items:center;
	justify-content: center;
}
.inner__symptoms>.elem__symptom .symptom__text>p{
	color:#000000;
	font-size:21px;
	font-weight:400;
	margin:0px;
}
.myths__block{
	background:url("../img/curvedback.png");
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-position:top right;
	padding-top:290px;
	padding-bottom:250px;
	margin-bottom: -40px;
}
.head__myths{
	display: flex;
	align-items:center;
	justify-content: center;
	margin-bottom:45px;
}
.head__myths>h6{
	margin-right:90px;
	font-weight:300;
	font-family: "Pacifico" , sans-serif;
	color:#fff;
	font-size:45px;
	line-height:45px;
	margin-top:0px;
	margin-bottom:0px;
}
.head__myths>h2{
	color:#fff;
	font-size:110px;
	font-weight:bold;
	margin:0px;
	line-height:110px;
}
.symptoms__block{
	margin-bottom:-200px;
	position: relative;
}
.inner__myths{
	max-width:1400px;
	padding:0px 70px;
	display: grid;
	grid-template-columns:repeat(2 , 1fr);
	grid-column-gap:100px;
	margin-left:auto;
	margin-right:auto;
}
.elem__myth{
	margin-bottom:50px;
}
.elem__myth:last-child{
	margin-bottom:0px;
}
.head__myth{
	display: flex;
	align-items:flex-start;
	justify-content: space-between;
}
.head__myth>p{
	margin:0px;
	font-size:46px;
	color:#fff;
	font-weight:600;
	line-height:55px;
}
.main__treatments{
	max-width:1400px;
	padding-left:150px;
	padding-right:150px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:90px;
	display: flex;
	align-items:flex-start;
	justify-content: space-between;
}
.main__treatments>.elem__treatment{
	max-width:450px;
}
.treatments__block{
	padding-top:65px;
	padding-top: 90px;
}
.head__treatments{
	max-width:1400px;
	display: flex;
	align-items:center;
	flex-direction:column;
	justify-content: center;
	margin-left:auto;
	margin-right:auto;
}
.image__treatment{
	display: flex;
	align-items:center;
	justify-content: center;
	margin-bottom:40px;
}
.head__treatment>h6{
	text-align:center;
	color:#10A3B2;
	font-size:35px;
	font-weight:bold;
	margin:0px;
	margin-bottom:10px;
}
.main__treatments>.elem__treatment:nth-child(2) .head__treatment>h6{
	text-align:left;
}
.elem__treatment .content__treatment>p{
	font-size:21px;
	font-weight:400;
	line-height:31px;
	margin-top:0px;
}
.elem__treatment .content__treatment>p span{
	font-weight:bold;
}
.side__effects>p{
	margin-top:0px;
	margin-bottom:10px;
	color:#E9454A;
	font-size:30px;
	font-weight:600;
}
.side__effects>ul{
	padding:0px;
	list-style-type: none;
	margin:0px;
	display: grid;
	grid-template-columns:repeat(2 , 1fr);
	grid-column-gap:50px;
}
.side__effects>ul li{
	display: flex;
	align-items:center;
	color:#2B2523;
	font-size:22px;
	font-weight:500;
}
.side__effects>ul li span{
	font-size:22px;
	font-weight:500;
	color:#E9454A;
	display: inline-flex;
	align-items:center;
	margin-right:5px;
}
.main__treatments{
	position: relative;
}
.main__treatments:before{
	content:"";
	position: absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:90px;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
	width:1px;
	height:80%;
	background-color:#3B3735;
	opacity:.2;
}
.head__treatments{
	margin-bottom:70px;
}
.head__treatments>h6{
    margin: 0px;
    color: #3290A7;
    font-family: "Pacifico" , sans-serif;
    font-size: 45px;
    font-weight: 300;
}
.head__treatments>h2{
	margin:0px;
	color:#E9454A;
	font-size:80px;
	line-height:80px;
	font-weight:bold;
}
.content__myth{
	margin-top:20px;
}
.content__myth>p{
	font-size:21px;
	line-height:31px;
	margin:0px;
	color:#fff;
}
.treatments__block .head__treatments{
	position: relative;
	max-width:1040px;
}
.treatments__block .treat__image{
	position: absolute;
}
.treatments__block .treat__image.first__image{
	top:-150px;
	left:-50px;
}
.treatments__block .treat__image.second__image{
	top:-220px;
	left:180px;
}
.treatments__block .treat__image.third__image{
	top:-160px;
	left:48%;
}
.treatments__block .treat__image.fourth__image{
	top:-140px;
	right:30px;
}
.elem__myth{
	position: relative;
}
.elem__myth .myth__image{
	position: absolute;
	right:0px;
	top:0px;
}
.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(1) .head__myth{
	padding-right:110px;
}
.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(1) .content__myth{
	padding-right: 100px;
}
.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(1) .myth__image{
	top:20px;
	right:20px;
}

.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(2) .head__myth{
	padding-right:110px;
}

.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(3) .head__myth{
	padding-right:110px;
}
.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(3) .myth__image{
	right:50px;
}

.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(4) .head__myth{
	padding-right:130px;
}

.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(4) .myth__image{
	right:15px;
	top:-45px;
}

.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(1) .head__myth{
	padding-right:110px;
}
.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(1) .myth__image{
	top:0px;
	right:30px;
}

.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(2) .myth__image{
	top:-20px;
	right:70px;
}

.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(3) .myth__image{
	top:60px;
	right:70px;
}

.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(4) .myth__image{
	top:25px;
	right:-40px;
}
.why__diabet .head__why>h6{
	position: relative;
}
@media (max-width:1360px){
	.syrup__block .syrup__image{
		margin-right:170px;
	}
	.outer__why--diabet{
		padding-right:120px;
		padding-left:50px;
	}
	.head__myth>p{
		font-size:38px;
		line-height:44px;
	}
	.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(1) .head__myth{
		padding-right:125px;
	}
	.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(4) .head__myth{
		padding-right:80px;
	}
	.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(1) .myth__image{
		top:-30px;
		right:0px;
	}
	.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(3) .head__myth{
		align-items:center;
	}
	.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(3) .myth__image{
		top:20px;
		right:0px;
	}
	.elem__treatment .content__treatment>p{
		font-size:20px;
		line-height:30px;
	}
	.head__treatment>h6{
		font-size:30px;
	}
	.side__effects>p{
		font-size:26px;
	}
	.side__effects>ul li{
		font-size:20px;
	}
}
@media (max-width:1280px){
	.syrup__block .syrup__image{
		margin-right:110px;
	}
	.outer__diabet .text__info{
		margin-right:80px;
	}
	.top__circulatory .txt__circulatory>h2{
		font-size:45px;
		line-height:54px;
	}
	.top__circulatory .txt__circulatory>p , .syrup__block .syrup__text>p{
		font-size:20px;
	}
	.top__circulatory .txt__circulatory>h6{
		font-size:38px;
	}
	.syrup__block .syrup__text>p.weight__txt{
		font-size:23px;
	}
	.top__circulatory .txt__circulatory>p.big__txt{
		font-size:22px;
	}
	.top__circulatory{
		margin-bottom:45px;
	}
	.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(1) .content__myth{
		padding-right:110px;
	}
}
@media (max-width:1200px){
	.head__treatments>h2{
		font-size:70px;
		line-height:70px;
	}
	.head__treatments>h6{
		font-size:35px;
		line-height:35px;
	}
	.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(4) .myth__image{
		top:auto;
	}
	.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(4) .head__myth{
		align-items:center;
	}
	.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(2) .head__myth{
		padding-right:50px;
		max-width:400px;
	}
	.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(2) .myth__image{
		top:30px;
		right: 40px;
	}
	.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(1) .myth__image{
		top:0px;
		right:0px;
	}
	.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(2) .myth__image{
		top:-20px;
		right:-20px;
	}
	.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(2) .head__myth{
		padding-right:95px;
	}
	.inner__myths>.column__myths:nth-child(2)>.elem__myth:nth-child(1) .head__myth{
		padding-right:110px;
	}
	.myths__block{
		padding-bottom:220px;
	}
	.myth__image>img{
		max-width:120px;
	}
	.inner__myths>.column__myths:nth-child(1)>.elem__myth:nth-child(1) .content__myth{
		padding-right:120px;
	}
	.head__myths>h2{
		font-size:80px;
	}
	.head__myths>h6{
		font-size:35px;
		line-height:35px;
	}
	.head__myth>p{
		font-size:32px;
		line-height:38px;
	}
	.content__myth>p{
		font-size:19px;
		line-height:29px;
	}
	.inner__symptoms{
		grid-column-gap:40px;
	}
	.why__diabet .head__why>h6{
		font-size:40px;
	}
	.why__diabet .head__why>h2{
		font-size:70px;
		line-height:70px;
		margin-top:20px;
		margin-bottom:15px;
	}
	.head__symptoms>h2{
		font-size:50px;
		line-height:50px;
		text-align:center;
	}
	.inner__symptoms>.elem__symptom>.symptom__image{
		margin-right:25px;
	}
	.inner__symptoms>.elem__symptom .symptom__text>p{
		font-size:18px;
		line-height:25px;
	}
	.inner__symptoms>.elem__symptom .symptom__text>h6{
		font-size:26px;
	}
	.head__symptoms>h6{
		font-size:35px;
		line-height:35px;
	}
	.why__diabet{
		padding-top:60px;
		padding-bottom:70px;
	}
	.info__head--why>p.weight__txt{
		font-size:23px;
		line-height:30px;
	}
	.info__head--why>p , .info__harmful>p{
		font-size:20px;
	}
	.elem__harmful .weight__harmful>p{
		font-size:23px;
		line-height:30px;
	}
	.outer__why--diabet{
		padding-left:30px;
		padding-right:30px;
	}
	.syrup__block .syrup__image>img{
		max-width:340px;
	}
	.outer__circulatory{
		padding-left:30px;
		padding-right:30px;
	}
	.text__info>h1{
		font-size:70px;
		line-height: 70px;
		margin:12px 0px;
	}
	.text__info .desc p{
		font-size:18px;
		line-height:27px;
	}
	.image__diabet>img{
		max-width:290px;
	}
	.outer__diabet{
		min-height:530px;
	}
	.image__diabet{
		top:90px;
	}
	.outer__diabet .text__info{
		margin-right:50px;
	}
	.text__info>p{
		font-size:40px;
	}
	.inner__harmful, .info__head--why{
		padding-left:0px;
	}
	.inner__symptoms{
		padding:50px 30px;
	}
}

.body__arrow>.small__arrow{
	display: none;
}
.arrow__small{
	display: none;
}
@media (max-width:991px){
	.column__myths{
		margin-bottom:20px;
	}
	.column__myths:last-child{
		margin-bottom:0px;
	}
	.head__myths>h2{
		font-size:60px;
		line-height:60px;
	}
	.head__myths{
		margin-bottom:15px;
	}
	.head__myths>h6{
		font-size:30px;
		margin-bottom:5px;
		line-height:40px;
	}
	.inner__myths{
		padding-left:30px;
		padding-right:30px;
	}
	.content__myth{
		padding:0px!important;
	}
	.myths__block{
		padding-top:50px;
		padding-bottom: 50px;
		background-color:green;
	}
	.myth__image>img{
		max-height:110px;
	}
	.head__myths{
		flex-direction:column;
		justify-content: center;
		align-items:center;
	}
	.inner__myths>.column__myths .elem__myth .head__myth{
		padding:0px!important;
		max-width:100%!important;
	}
	.head__myth>p{
		width:100%;
	}
	.head__myth>p br{
		display: none;
	}
	.symptoms__block{
		margin-bottom:-40px;
	}
	.elem__myth .myth__image{
		position: static;
		margin-bottom:20px;
	}
	.head__myth>p{
		margin-bottom:0px;
		font-size:26px;
		font-weight:600;
	}
	.content__myth>p{
		font-size:16px;
		font-weight:400;
		line-height:21px;
	}
	.elem__myth{
		margin-bottom:20px;
		max-width:540px;
		margin-left:auto;
		margin-right:auto;
	}
	.elem__myth:last-child{
		margin-bottom:0px;
	}
	.content__myth{
		margin-top:0px;
	}
	.inner__myths>.column__myths .elem__myth .head__myth{
		display: flex;
		flex-direction:column-reverse;
		justify-content: center;
		align-items:center;
	}
	.head__myths>h6{
		margin-right:0px;
	}
	.inner__myths{
		grid-template-columns:1fr;
	}
	.inner__symptoms{
		grid-template-columns:1fr;
	}
	.why__diabet{
		padding-top:0px;
		padding-bottom:50px;
	}
	.circulatory__block{
		margin-bottom:-20px;
	}
	.image__circulatory>img{
		max-width:350px;
		width:100%;
	}
	.top__circulatory{
		margin-bottom:25px;
	}
	.syrup__block .syrup__image>img{
		max-width:230px;
	}
	.syrup__text>p.weight__txt:last-child{
		padding-right:200px;
	}
	.head__symptoms>h2{
		font-size:36px;
		line-height:40px;
	}
	.syrup__block .syrup__image{
		margin-top:-80px;
	}
	.top__circulatory .txt__circulatory>h2{
		font-size:36px;
	}
	.head__symptoms>h6{
		font-size:30px;
	}
	.top__circulatory .txt__circulatory>h6{
		font-size:32px;
	}
	.top__circulatory .txt__circulatory>p, .syrup__block .syrup__text>p{
		font-size:18px;
	}
	.syrup__block .syrup__text>p.weight__txt{
		font-size:21px;
	}
	.top__circulatory .txt__circulatory>p.big__txt{
		font-size:21px;
	}
	.top__circulatory{
		display: flex;
		flex-direction:column;
		justify-content: center;
		align-items:center;
	}
	.top__circulatory .txt__circulatory{
		margin-right:0px;
		max-width:100%;
		width:100%;
	}
	.top__circulatory .txt__circulatory>p{
		max-width:100%;
	}
	.syrup__block{
		flex-direction:column-reverse;
	}
	.syrup__block .syrup__text{
		padding-bottom:30px;
	}
	.syrup__block .syrup__image{
		margin-right: 0px;
	}
	.top__circulatory .txt__circulatory{
		padding-top:60px;
	}
	.outer__body .body__text{
		margin-left:auto;
		margin-right:auto;
		width:100%;
		max-width:200px;
		margin-bottom:-90px;
	}
	.outer__body .body__text>h6{
		font-size:28px;
		line-height:35px;
		font-weight: 600;
	}
	.outer__diabet{
		flex-direction:column;
		padding-top: 60px;
	}
	.outer__diabet .text__info{
		margin-right: 0px;
	}
	.image__diabet{
		top:0px;
		margin-top: 30px;
		margin-bottom:-67px;
	}
	.text__info .desc{
		margin-top:25px;
	}
	.outer__body{
		justify-content: center;
		align-items:center;
		flex-direction:column-reverse;
	}
	.outer__body .body__text{
		margin-right:300px;
		margin-left:0px;
	}
	.body__arrow{
		transform:rotate(0deg);
	}
	.body__arrow>.small__arrow{
		display: inline-flex;
		align-items:center;
		justify-content: center;
	}
	.body__arrow>img{
		display: none;
	}
	.body__arrow>.arrow__small{
		display: inline-flex;
		max-width:65px;
	}
	.body__text .body__arrow{
		padding-left:0px;
		display: flex;
		justify-content: flex-end;
	}
	.outer__body .body__text>h6{
		text-align:left;
	}
	.elem__harmful.right__harmful .image__harmful{
		padding-left:60px;
		margin-right:40px;
	}
	.info__head--why>p, .info__harmful>p{
		font-size:18px;
		line-height:26px;
	}
	.elem__harmful .weight__harmful>p{
		font-size:21px;
		line-height:27px;
	}
	.why__diabet .head__why>h2{
		font-size:60px;
		line-height:60px;
	}
	.info__head--why>p.weight__txt{
		font-size:22px;
		line-height:29px;
	}
	.myths__block{
		background:url('../img/diabeteback.png');
		background-position:center;
		background-repeat: no-repeat;
		background-size:100% 100%;
		padding-top:100px;
		padding-bottom:90px;
	}
}
.small__syrup{
	display: none;
}
@media (max-width:767px){
	.head__myths>h2{
		font-size:50px;
		line-height:50px;
	}
	.head__myth>p{
		font-size:22px;
		font-weight:600;
		line-height:29px;
	}
	.content__myth>p{
		font-size:15px;
		line-height:20px;
	}
	.inner__myths{
		padding-left:15px;
		padding-right:15px;
	}
	.inner__symptoms{
		grid-row-gap: 30px;
		padding:45px 15px;
	}
	.inner__symptoms>.elem__symptom .symptom__text>p{
		font-size:16px;
		line-height:23px;
	}
	.symptom__image img{
		max-width:70px;
		max-height:120px;
	}
	.symptom__image{
		min-width:80px;
	}
	.elem__harmful .weight__harmful>p{
		font-size:19px;
		line-height:25px;
	}
	.why__diabet .head__why>h2{
		font-size:50px;
		line-height:50px;
	}
	.why__diabet .head__why>h6{
		font-size:35px;
	}
	.elem__harmful{
		margin-bottom:20px;
	}
	.elem__harmful:last-child{
		margin-bottom:0px;
	}
	.elem__harmful.right__harmful .image__harmful{
		margin-right:20px;
	}
	.elem__harmful.left__harmful .info__harmful{
		margin-right:20px;
	}
	.info__head--why>p.weight__txt{
		font-size:20px;
		line-height:27px;
	}
	.elem__harmful.right__harmful .image__harmful{
		padding-left:0px;
	}
	.image__harmful img{
		max-width:120px;
		max-height:120px;
	}
	.info__head--why>p, .info__harmful>p{
		font-size:16px;
		line-height:24px;
	}
	.outer__why--diabet{
		padding-left:15px;
		padding-right:15px;
	}
	.top__circulatory .txt__circulatory>p br, .syrup__block .syrup__text>p br{
		display: none;
	}
	.syrup__text>p.weight__txt:last-child{
		padding-right:130px;
	}
	.syrup__block .syrup__image>img{
		max-width:140px;
	}
	.outer__circulatory{
		padding-left:15px;
		padding-right:15px;
	}
	.top__circulatory .txt__circulatory>p, .syrup__block .syrup__text>p{
		font-size:16px;
		line-height:24px;
	}
	.top__circulatory .txt__circulatory>p.big__txt{
		font-size:19px;
		line-height:27px;
	}
	.syrup__block .syrup__text>p.weight__txt{
		font-size:19px;
		line-height:27px;
	}
	.outer__body .body__text{
		max-width:175px;
	}
	.body__text .body__arrow{
		padding-right:30px;
	}
	.outer__body .body__text{
		margin-right:230px;
	}
	.outer__body .body__text>h6{
		font-size:24px;
		line-height:30px;
	}
	.body__arrow>.arrow__small{
		max-width:55px;
	}
	.text__info .desc p br{
		display: none;
	}
	.text__info .desc p{
		max-width:325px;
		margin-left:auto;
		margin-right:auto;
	}
	.text__info>h1{
		font-size:60px;
		line-height:67px;
		text-align:center;
	}
	.text__info>p{
		font-size:35px;
	}
}
.syrup__small{
	display: none;
}
@media (max-width:480px){
	.head__myths>h6{
		font-size:24px;
		line-height:24px;
	}
	.head__myths>h2{
		font-size:26px;
	}
	.myth__image>img{
		max-width:100px;
		max-height:80px;
	}
	.symptoms__block{
		margin-bottom:-60px;
	}
	.head__myth>p{
		font-size:20px;
		font-weight:600;
		line-height:24px;
	}
	.content__myth>p{
		font-size:14px;
		line-height:19px;
	}
	.inner__symptoms{
		display: flex;
		flex-direction:column;
	}
	.inner__symptoms>.elem__symptom:nth-child(1){
		order:1;
	}
	.inner__symptoms>.elem__symptom:nth-child(3){
		order:2;
	}
	.inner__symptoms>.elem__symptom:nth-child(5){
		order:3;
	}
	.inner__symptoms>.elem__symptom:nth-child(7){
		order:4;
	}
	.inner__symptoms>.elem__symptom:nth-child(2){
		order:5;
	}
	.inner__symptoms>.elem__symptom:nth-child(4){
		order:6;
	}
	.inner__symptoms>.elem__symptom:nth-child(6){
		order:7;
	}
	.inner__symptoms>.elem__symptom{
		flex-direction:column;
		position: relative;
	}
	.inner__symptoms>.elem__symptom .symptom__text>p{
		font-size:14px;
		line-height:19px;
	}
	.symptom__image>img{
		max-height: 100px;
	}
	.symptom__image{
		min-height:100px;
		margin-bottom:15px;
	}
	.symptom__text>h6{
		position: absolute;
		text-align:left;
		max-width:110px;
		color:#3FB4B0;
		font-weight:300;
		top:0px;
		min-height:100px;
		display: flex;
		align-items:center;
		font-size:35px;
		line-height:41px;
		left:100px;
	}
	.head__symptoms>h2{
		font-size:26px;
		line-height:32px;
		max-width:250px;
	}
	.head__symptoms>h6{
		font-size:24px;
		line-height:24px;
		margin-bottom:5px;
	}
	.head__symptoms{
		padding:30px 0px;
		padding-top:40px;
	}
	.why__diabet .head__why>h2{
		margin:10px 0px;
	}
	.why__diabet{
		padding-bottom:35px;
	}
	.elem__harmful .weight__harmful>p{
		font-size:17px;
		line-height:23px;
	}
	.image__harmful img{
		max-width:95px;
		max-height:95px;
	}
	.why__diabet .head__why>h6{
		font-size:31px;
	}
	.why__diabet .head__why>h2{
		font-size:26px;
		line-height:26px;
	}
	.info__head--why>p.weight__txt{
		font-size:14px;
		line-height:22px;
	}
	.info__head--why>p, .info__harmful>p{
		font-size:14px;
		line-height:22px;
	}
	.circulatory__block{
		margin-bottom:0px;
	}
	.circulatory__block>img{
		display: inline-flex;
		align-items:center;
		justify-content: center;
	}
	.circulatory__block{
		background-color:#E11948;
		background-image: url('../img/syrupsmall.png');
		background-repeat: no-repeat;
		background-position:left bottom;
		background-size:100%;
	}
	.top__circulatory .txt__circulatory{
		padding-top: 40px;
	}
	.top__circulatory{
		margin-bottom:15px;
	}
	.syrup__text>p.weight__txt:last-child{
		padding-right:100px;
	}
	.top__circulatory .txt__circulatory>p.big__txt , .syrup__block .syrup__text>p.weight__txt{
		font-size:17px;
		line-height:21px;
	}
	.top__circulatory .txt__circulatory>h2{
		font-size:30px;
		line-height:36px;
		margin:0px;
	}
	.top__circulatory .txt__circulatory>p, .syrup__block .syrup__text>p{
		font-size:14px;
		line-height:21px;
	}
	.top__circulatory .txt__circulatory>h6{
		font-size:24px;
	}
	.syrup__block .syrup__image>img{
		max-width:120px;
	}
	.syrup__block .syrup__image{
		margin-top:-100px;
	}
	.body__image>img{
		max-width:200px;
	}
	.outer__body .body__text>h6{
		font-size:21px;
		line-height:25px;
	}
	.outer__body .body__text{
		padding-top:0px;
		max-width: 140px;
		margin-bottom:-65px;
		margin-right:150px;
	}
	.body__text .body__arrow{
		padding-right:25px;
	}
	.outer__diabet{
		padding-top:45px;
	}
	.text__info .desc p{
		font-size:15px;
		line-height:20px;
		max-width:275px;
	}
	.text__info>p{
		font-size:32px;
	}
	.text__info>h1{
		font-size:54px;
		line-height:62px;
	}
	.image__diabet>img{
		max-width:200px;
	}
	.image__diabet{
		margin-bottom:-50px;
	}
	.circulatory__block>img{
		display: none;
	}
	.circulatory__block>img.syrup__small{
		display: inline-flex;
		align-items:center;
		justify-content: center;
	}
}
@media (max-width:400px){
	.top__circulatory .txt__circulatory>h2{
		font-size:26px;
		line-height:32px;
	}
}